.galeria {
  grid-column: 1 / -1;
}

.slide-wrapper {
  overflow: hidden;
  grid-column: 1 / -1;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}


.custom-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-column: 1 / -1;
}

.custom-controls li {
  opacity: .8;
  transform: scale(.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
  transition: .3s;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}